body{
   background-color: #f2fdff;
}
/* The sidebar menu */
.navbar{
    
    background-color: #489FB5; 
    
   
  }

  .text{
    margin-top: 200px;
    color: #101935;
    padding: 6px 8px 6px 16px;
    
  }

 .navbar-toggler-icon{
  color: #101935;
  height: auto;
  width: auto;
  }
  
  /* The navigation menu links */
  a.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;    
    display: block;
    text-align: center;
    font-weight: bolder;
  }

  a.nav-link:active {
    color: #101935;
  }
  
  /* When you mouse over the navigation links, change their color */
  a.nav-link:hover {
    color: #FFA62B;
  }

 
  /* Style page content */

 .btn{
    background-color: #FFA62B; 
    color: #16697A;
    border-color:#FFA62B ;
    width:40%;
    margin: 0 auto;
  }

.login {
    border: 1px solid #489FB5;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    display: inline-block;
    
}
a:hover {
  text-decoration: none;
}

.subscribe label{
  display: none;
}
.subscribe form{
  display: flex;
  
}
.subscribe form .btn{
  padding: 0px 5px;
    margin: 0px 5px;
    height: 35px;
  width: auto;
}


  
 
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
